.profile {
    display: block;
    text-align: center;
    margin: 50px auto;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
    padding-top: 25px;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #8E9BA8;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
}

.name {
    font-size: 30px;
    font-weight: 700;
    color: #46515F;
    margin: 30px auto 10px;
}

.tag {
    font-size: 20px;
    font-weight: 500;
    color: #8E9BA8;
    margin: 10px auto;
}

.location {
    font-size: 25px;
    font-weight: 600;
    color: darkgrey;
    margin: 10px auto 40px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: #F3F6F9;
}

.stats li {
    flex-basis: auto;
    text-align: center;
    padding: 20px;
    list-style: none;
    /* border: 1px solid #E6EBF1; */
}

.label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    margin-bottom: 10px;
}

.quantity {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: black;
}