.statistics {
    display: block;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 50%);
    overflow: hidden;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4D5F6E;
}

.statList {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    list-style: none;
}

.item {
    flex-basis: auto;
    text-align: center;
    padding: 15px 30px;
    background-color: #20B8C7;
}

.label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    margin-bottom: 10px;
}

.percentage {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: black;
}